.home_page {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6ebde;
    height: 100vh;
}

.map_section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}